<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>paj</display-name>
    <data-source>
        <!-- Uncomment for local deployment-->
        <name>jdbc/__default</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>5432</port-number>
        <database-name>paj</database-name>
        <user>postgres</user>
        <password>1q2w3e</password>

        <!-- Uncomment for deployment on AWS -->
<!--        <name>jdbc/paj</name>-->
<!--        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>-->
<!--        <server-name>terraform-20240620155127520700000004.ctsgcyi6y3xf.us-east-1.rds.amazonaws.com</server-name>-->
<!--        <port-number>5432</port-number>-->
<!--        <database-name>product_flow</database-name>-->
<!--        <user>postgres</user>-->
<!--        <password>1q2w3e4r</password>-->

        <property>
            <name>fish.payara.slow-query-threshold-in-seconds</name>
            <value>5</value>
        </property>
    </data-source>
</web-app>